{% extends 'base.html.twig' %}

{% block contenedor_principal %}
  {% include 'comunes/_mensajes.html.twig' %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">
      Mis Plantas
    </h6>
      {% for planta in plantas %}
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Uso #1</th>
      <th scope="col">Uso #2</th>
      <th scope="col">Uso #3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select name="uso1">
          {% for uso in usos %}
            <option name="uso1">{{uso.nombre}}</option>
          {% endfor %}
        </select>
      </td>
      <td>
         <select name="uso2">
          {% for uso in usos %}
            <option name="uso2">{{uso.nombre}}</option>
          {% endfor %}
        </select>
      </td>
      <td>
          <select name="uso3">
          {% for uso in usos %}
            <option name="uso3">{{uso.nombre}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </tbody>
</table>
      
      {% else  %} 
       <p>No se encontraron Plantas</p>  
      {% endfor  %}
  </div>

    <div class="d-md-flex my-2 my-lg-0">
        <a class="btn btn-outline-success mr-2 w-100 mb-3 mb-sm-0"  href="{{path('app_plantas_nueva')}}">
            Nueva
        </a>
    </div>


{% endblock %}

