{% extends 'base.html.twig' %}

{% block contenedor_principal %}

  {% include 'comunes/_usos_form.html.twig' %}

{# <form class="form-control"  method="POST" >
  <div class="mb-3">
    <label for="usos" class="form-label">Usos</label>
    <input type="text" name="nombre" class="form-control" >
  </div>

  <button type="submit" class="btn btn-primary" >Añadir</button>
</form> #}

{% endblock %}

